@import"Colors";
nav{
    width: 100vw;
    display: flex;
    background-color: rgb(228, 204, 71);
    height: 15vh;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: sticky;

    h1{
        text-transform: uppercase;
    }
    a{
        color: $second;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        animation: imgdown 2.7s linear infinite alternate;
    }
    .MuiSvgIcon-root{
        animation: vibrate 6.1s infinite;
    }
}


@keyframes imgdown{
    to{
        transform: translate(-10px);
    }
}

@keyframes vibrate {
    0% {
      transform: translate(-2px, -2px);
    }
    25% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(2px, -2px);
    }
    75% {
      transform: translate(-2px, 2px);
    }
    100% {
      transform: translate(-2px, -2px);
    }
  }